[package]
name = "server"
version = "0.1.0"
edition = "2024"
rust-version.workspace = true
publish = false

[dependencies]
neva = { path = "../../../neva", features = ["server-full"] }
tokio = { version = "1.48.0", features = ["full"] }
tracing = "0.1.41"
tracing-subscriber = "0.3.20"