[package]
name = "server"
version = "0.1.0"
edition = "2024"
rust-version.workspace = true
publish = false

[dependencies]
neva = { path = "../../../neva", features = ["server-full"] }
tokio = "1.48.0"
tracing-subscriber = { version = "0.3.22", features = ["env-filter"] }